<!DOCTYPE html>
<html>
    <head>
        {{>header}}    
    </head>

    <body>
        {{>navbar}}
        <h1>welcome to index page!</h1>
        <button type="button" class="btn btn-success">Success</button>
    </body>
</html>